.ChatSection {
	border: orangered solid 3px;
	height: 95px;
	width: 870px;
	margin: 10px;
	position: absolute;
	left: 2%;
	bottom: 3%;
}

input {
	color: black;
	width: 80%;
	height: 50%;
}

input:focus-visible {
	color: black;
}

.sendButton {
	border-radius: 10px;
}

.emojiButton {
	border-radius: 10px;
}
