li {
	list-style-type: none;
}

.iconContainer {
	display: flex;
	flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.iconSize {
	width: 30px;
	height: 30px;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: gray;
}

.categoryTitle {
	color: wheat;
}

.categoryHeader {
	width: 100%;
	text-align: left;
	margin-left: 27px;
	margin-top: 10px;
}
.viewStyle {
	display: contents;
}
