.inputspace {
	width: 100%;
	height: auto;
}

.labelItem {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border-radius: 13px;
}

.search_input {
	color: yellow;
}

.search_input:focus-visible {
	color: yellow;
}
